{% load static %}

<html>
    <head>
        <title>Pokedex</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <h1>Voici mon site de Pokedex</h1>
        <p>Liste des pokemons dans mon pokedex</p>
        <table>
            <thead>
                <tr>
                    <th>Image</th> 
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Numéro</th>
                </tr>
            </thead>
            <tbody>
                {% for poke in pokemons %}
                <tr>
                    <td>
                        {% if poke.photo %}
                            <img src="{{ poke.photo.url }}" alt="{{ poke.name }}" width="100" /> 
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>{{ poke.name }}</td>
                    <td>{{ poke.type }}</td>
                    <td>{{ poke.number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p> Attrapez les tous !</p>
    </body>
</html>