body, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    color: #666; 
    font-size: 18px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
